.fleet-home {
    margin-left: 220px; /* Adjust the margin to align with the Navbar width */
    padding: 20px; /* Add padding for spacing */
  }
  /* Home.css */

/* Home.css */
.home-container {
  background-color: #fff; /* Set the background color to a light gray */
  font-family: 'Arial, sans-serif'; /* Apply a custom font family */
  padding: 20px; /* Add some padding for spacing */
}

.schedule-header {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  background-color: rgb(121, 200, 228);
  border-radius: 10px;
  text-align: left; /* Align the text to the left */
  padding: 20px 0 20px 20px; /* Add padding to the right side */
}

.home-content {
  text-align: center;
  margin-left: 90px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Center align text within the home-content container */
}
.row-card{
  justify-content: right;
  align-items:end
}
.custom-driver-card {
  margin-top: 120px; /* Adjust the top margin as needed */
  margin-left: 250px; /* Adjust the left margin as needed */
}

