/* UserDataForm.css */
.about-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ffa500; /* Orange border */
    border-radius: 10px; /* Increased border radius */
    background-color: #ffebcc; /* Light orange background */
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5); /* Orange shadow */
    justify-content: center;
    padding-right: 70px; /* Add left padding to reduce the left side */
  }
  
  .about-content {
    text-align: center;
  }
  
  .about-content h2 {
    color: #ffa500; /* Orange text color */
    font-size: 24px; /* Increased font size */
  }
  
  .about-content form {
    display: flex;
    flex-direction: column;
    background-color: #ffebcc; /* Light orange background */
    margin: 0 auto; /* Center the form within the container */
    width: 100%; /* Make it take the full width of the container */
  }
  
  .about-content label {
    font-weight: bold;
    margin-bottom: 10px; /* Increased margin */
    color: #ffa500; /* Orange text color */
  }
  
  .about-content input[type="text"],
  .about-content input[type="datetime-local"] {
    padding: 15px; /* Increased padding */
    margin-bottom: 15px; /* Increased margin */
    border: 2px solid #ffa500; /* Orange border */
    border-radius: 5px; /* Slightly rounded border */
    background-color: #fff; /* White background */
  }
  
  .about-content button[type="submit"] {
    background-color: #ffa500; /* Orange background */
    color: #fff;
    padding: 15px 20px; /* Increased padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Increased font size */
    margin-top: 10px;
  }
  
  .about-content button[type="submit"]:hover {
    background-color: #ff8000; /* Darker orange on hover */
    margin-top: 10px;
  }
  