/* UserDataForm.css */
.user-data-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    height: 100vh;
  }

  .user-data-form-content {
    max-width: 800px; /* Increase the max-width to make it larger */
    padding: 60px; /* Increase padding for more space */
    border: 1px solid #ffa500;
    border-radius: 10px;
    background-color: #ffebcc;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
    text-align: center;
  }

  .user-data-form-content h2 {
    color: #ffa500;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .user-data-form-content .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .user-data-form-content label {
    font-weight: bold;
    color: #ffa500;
  }

  .user-data-form-content input[type="text"],
  .user-data-form-content input[type="datetime-local"] {
    padding: 15px;
    border: 2px solid #ffa500;
    border-radius: 5px;
    background-color: #fff;
  }

  .user-data-form-content button[type="submit"] {
    background-color: #ffa500;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
  }

  .user-data-form-content button[type="submit"]:hover {
    background-color: #ff8000;
  }
